.metadata
/auto-tests
/java/.idea
/java/edu.iml
/java/yFain/out
/java/yFain/.idea
/java/myTestMaven/.idea
/java/myTestMaven/target/
/java/myTestMaven/myTestMaven.iml

/java/myFirstTestMaven/.idea
/java/myFirstTestMaven/target/
/java/myFirstTestMaven/myTestMaven.iml

/java/myFirstTestMaven/bin/
/java/myFirstTestMaven/target/
/java/myFirstTestMaven/runconfigs/*.xml
/java/myFirstTestMaven/.idea
/java/myFirstTestMaven/erise.iml
/java/myFirstTestMaven/.settings/*
/java/myFirstTestMaven/temp/
/java/myFirstTestMaven/test-output/
/java/myFirstTestMaven/src/core/core.iml
/java/myFirstTestMaven/myFirstTestMaven.iml

/java/erise/bin/
/java/erise/target/
/java/erise/runconfigs/*.xml
/java/erise/.idea
/java/erise/erise.iml
/java/erise/.settings/*
/java/erise/temp/
/java/erise/test-output/
/java/erise/src/core/core.iml
/java/erise/erise.iml
/java/erise/src/core/constans/paymentDatas